body {color: rgb(0, 0, 0); 
background-color: rgb(185, 178, 169);


}


/* Header */
header{
    background-color: lightgray;
    text-align: center;
    padding: 40px 20px;
}





.kuva-container {
  display: flex;
  justify-content: space-between; /* väli kuvien välissä */
  gap: 20px;
  margin-top: 20px;
  
}
.kuvaboksi img {
  width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
}


/* 📱 Puhelinnäkymä */
@media (max-width: 768px) {
  .kuva-container {
    flex-direction: column;
    align-items: center;
  }

  .kuvaboksi img {
    width: 90%;
    margin-top: 10px;
  }

  .linkkirivi {
    flex-direction: column;
    width: 90%;
    gap: 15px;
  }

  .linkkirivi a {
    font-size: 22px;
    text-align: center;
  }
}




h1{
margin-bottom:20px;
font-size: 48px;

}
h2{
font-size: 45px ;


}





a {max-width: 300px; 
color: black;
text-align: center;  }


.linkkirivi {
    display: flex;
    justify-content: space-between; /* jakaa linkit tasaisesti */
     width: 60%;               /* voit säätää leveyttä */
    margin: 0 auto;                 /* keskittää koko rivin */
    margin-top: 20px;
}

.linkkirivi a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}


      










